ConsoleApp/bin/Debug/net7.0/ConsoleApp.deps.json
ConsoleApp/bin/Debug/net7.0/ConsoleApp.dll
ConsoleApp/bin/Debug/net7.0/ConsoleApp.exe
ConsoleApp/bin/Debug/net7.0/ConsoleApp.pdb
ConsoleApp/bin/Debug/net7.0/ConsoleApp.runtimeconfig.json
ConsoleApp/obj/ConsoleApp.csproj.nuget.dgspec.json
ConsoleApp/obj/ConsoleApp.csproj.nuget.g.props
ConsoleApp/obj/ConsoleApp.csproj.nuget.g.targets
ConsoleApp/obj/project.assets.json
ConsoleApp/obj/project.nuget.cache
ConsoleApp/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
ConsoleApp/obj/Debug/net7.0/apphost.exe
ConsoleApp/obj/Debug/net7.0/ConsoleApp.AssemblyInfo.cs
ConsoleApp/obj/Debug/net7.0/ConsoleApp.AssemblyInfoInputs.cache
ConsoleApp/obj/Debug/net7.0/ConsoleApp.assets.cache
ConsoleApp/obj/Debug/net7.0/ConsoleApp.csproj.AssemblyReference.cache
ConsoleApp/obj/Debug/net7.0/ConsoleApp.csproj.CoreCompileInputs.cache
ConsoleApp/obj/Debug/net7.0/ConsoleApp.csproj.FileListAbsolute.txt
ConsoleApp/obj/Debug/net7.0/ConsoleApp.dll
ConsoleApp/obj/Debug/net7.0/ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp/obj/Debug/net7.0/ConsoleApp.genruntimeconfig.cache
ConsoleApp/obj/Debug/net7.0/ConsoleApp.GlobalUsings.g.cs
ConsoleApp/obj/Debug/net7.0/ConsoleApp.pdb
ConsoleApp/obj/Debug/net7.0/ref/ConsoleApp.dll
ConsoleApp/obj/Debug/net7.0/refint/ConsoleApp.dll
